<!-- Traer el Navbar -->
<div>
    <app-navbar></app-navbar>
</div>
<!-- Contenido del home -->
<div class="bienvenida">
    <!-- Llamamos al carrusel -->
    <app-carousel></app-carousel>
</div>
<div>
    <app-feature></app-feature>
</div>
<hr>

<!--Sobre nosotros-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="sobre-nosotros">
                <h2 id="nosotros" class="titulos">SOBRE NOSOTROS</h2>
            </div>
        </div>

        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/assets/images/images1.jpg" alt="logo" class="img-fluid" width="700" height="700">
        </div>

        <div class="col-lg-4">
            <div class="texto-sobre-nosotros">
                <p>Bienvenidos a Tienda Sports, tu destino definitivo para todo lo relacionado con el deporte. Nos
                    apasiona el deporte y creemos en el poder que tiene para transformar vidas. Desde nuestra fundación,
                    hemos trabajado arduamente para ofrecer una amplia variedad de productos de alta calidad para
                    atletas de todos los niveles, desde principiantes hasta profesionales.

                    En Tienda Sports, nos especializamos en proporcionar la mejor selección de ropa deportiva, calzado,
                    equipos y accesorios de las marcas más reconocidas y confiables. Nuestro equipo de expertos está
                    siempre disponible para asesorarte en la elección de los productos que mejor se adapten a tus
                    necesidades y objetivos deportivos.

                    Nuestra misión es fomentar un estilo de vida activo y saludable, apoyando a nuestros clientes en
                    cada paso del camino. Además, nos comprometemos a ofrecer un excelente servicio al cliente, creando
                    un ambiente amigable y accesible para todos.

                    En Tienda Sports, no solo vendemos productos; somos parte de tu viaje deportivo. Únete a nuestra
                    comunidad y descubre cómo podemos ayudarte a alcanzar tus metas y disfrutar al máximo de tus
                    actividades deportivas.

                    ¡Te esperamos en Tienda Sports!</p>
            </div>
        </div>
    </div>
</div>
<div>
    <app-promotion></app-promotion>
</div>
<hr>

<!--Beneficios-->
<div class="tarjetas text-center">
    <h2 id="beneficios" class="titulos">BENEFICIOS</h2>
    <div class="row justify-content-center">
        <!--1ra tarjeta-->
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="https://www.surir.cl/storage/2014/05/marcas_deportivas.jpg" class="card-img-top"
                    alt="imagen-carta-3" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Variedad de Productos</h5>
                    <p class="card-text">Contamos con una extensa selección de marcas reconocidas y productos de alta
                        calidad, adaptados a las necesidades de cada deportista.</p> <br>
                </div>
            </div>
        </div>
        <!--2da tarjeta-->
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="https://static.wixstatic.com/media/b2f9d7_b341c126a69d49af9a44d2f3aebfdc84~mv2_d_7360_4912_s_4_2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/b2f9d7_b341c126a69d49af9a44d2f3aebfdc84~mv2_d_7360_4912_s_4_2.jpg"
                    class="card-img-top" alt="imagen-carta-1" height="300px">
                <div class="card-body tarjeta-2">
                    <h5 class="card-title">Experiencia de Compra Personalizada</h5>
                    <p class="card-text">Nos comprometemos a brindar una atención al cliente excepcional, garantizando
                        que cada visita a nuestra tienda sea una experiencia única y satisfactoria.</p>
                </div>
            </div>
        </div>
        <!--3ra tarjeta-->
        <div class="col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0MQnzA8WPcSSpMhiVP9fNOk1vmn-x9Vkbw5CZmidpIOy04C79ERaD3moLJLTZ0rl-nfE&usqp=CAU"
                    class="card-img-top" alt="imagen-carta-2" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Promociones y Descuentos Exclusivos</h5>
                    <p class="card-text">Ofrecemos promociones regulares y descuentos exclusivos para nuestros clientes,
                        así como programas de fidelización para recompensar tu lealtad.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div>
        <app-footer></app-footer>
    </div>
</div>